<a href="https://colab.research.google.com/github/axelvargass/Examen1/blob/main/Consumer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerías pandas numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Lectura de archivo tipo .xlsx
consumer = pd.read_excel('consumer_mit_lift_lab.xlsx')
consumer

In [7]:
#Filtro de columnas para cualitativas
cualitativas = consumer.iloc[:,[0,1,2,3,4,7,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,32,33,34,35]]

In [8]:
#Filtro de columnas para cuantitativas
cuantitativas = consumer.iloc[:,[5,6,8,12,26,27,28,29,30,31]]

In [ ]:
#Corroboramos valores nulos
valores_nulos = cualitativas.isnull().sum()
valores_nulos

In [36]:
#Limpiamos Valores nulos de cualitativos
filtrocualitativos = cualitativas.fillna(method='ffill')

In [37]:
#Corroboramos valores nulos de Cualitativos para limpiarlos
valores_nulos = filtrocualitativos.isnull().sum()
valores_nulos

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
282_payment_method_that_purchase             0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
284_additional_products_store               19
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         0
303_gas_bill                                 0
307_gas_bill_store                           0
286_topups                                   0
308_topups_in_store                          0
287_wire_transfers                           0
309_wiretransfers_in_store                   0
320_other_services_in_store                  0
304_additional_services_store                8
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible     2
dtype: int64

In [40]:
#Usamos otro metodo para limpiar
filtrocualitativos = consumer.fillna(method='bfill')

In [57]:
#Corroboramos valores nulos
valores_nulos_cualitativos = filtrocualitativos.isnull().sum()
valores_nulos_cualitativos

_record_id                                  0
_title                                      0
_server_updated_at                          0
_updated_by                                 0
_geometry                                   0
_latitude                                   0
_longitude                                  0
282_payment_method_that_purchase            0
283_fulfill_needs                           0
300_did_not_find                            0
237_distance_household_interviewee          0
299_means_transportation_consumer           0
238_frequency_buying_store                  0
284_additional_products_store               0
301_electricity_bill                        0
305_electricity_bill_store                  0
302_water_bill                              0
306_water_bill_store                        0
303_gas_bill                                0
307_gas_bill_store                          0
286_topups                                  0
308_topups_in_store                         0
287_wire_transfers                          0
309_wiretransfers_in_store                  0
320_other_services_in_store                 0
304_additional_services_store               0
81_number_online_purchases_month            0
288_number_app_purchases_month              0
289_number_whatsapp_purchases_month         0
83_willingness_ultrafast_delivery           0
84_willingness_sameday_delivery             0
241_age_of_the_interviewee                  0
240_gender_interviewee                      0
indicate_the_type_of_store                  0
name_of_the_store                           0
storefront_picture_just_once_if_possible    0
dtype: int64

In [58]:
#Limpiamos los valores nulos de Cuantitativas
filtrocuantitativas = cuantitativas.fillna(round(cuantitativas.mean(),1))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [60]:
#Corroboramos valores nulos de Cualitativos para limpiarlos
valores_nulos_cuantitativos = filtrocuantitativas.isnull().sum()
valores_nulos_cuantitativos

_latitude                              0
_longitude                             0
283_fulfill_needs                      0
238_frequency_buying_store             0
81_number_online_purchases_month       0
288_number_app_purchases_month         0
289_number_whatsapp_purchases_month    0
83_willingness_ultrafast_delivery      0
84_willingness_sameday_delivery        0
241_age_of_the_interviewee             0
dtype: int64

In [61]:
#Método de IQR
y = filtrocuantitativas
percentile25 = y.quantile(0.25) #Q1
percentile75 = y.quantile(0.75) #Q3
iqr = percentile75 - percentile25

Limite_Superior_iqr = percentile75 + 1.5*iqr
Limite_Inferior_iqr = percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido _latitude                               19.137956
_longitude                             -98.025979
238_frequency_buying_store               6.000000
81_number_online_purchases_month         6.000000
288_number_app_purchases_month          12.500000
289_number_whatsapp_purchases_month      2.500000
83_willingness_ultrafast_delivery      102.500000
84_willingness_sameday_delivery        231.250000
241_age_of_the_interviewee              65.000000
dtype: float64
Limite inferior permitido _latitude                               18.959124
_longitude                             -98.402770
238_frequency_buying_store              -2.000000
81_number_online_purchases_month        -2.000000
288_number_app_purchases_month          -7.500000
289_number_whatsapp_purchases_month     -1.500000
83_willingness_ultrafast_delivery      -37.500000
84_willingness_sameday_delivery       -118.750000
241_age_of_the_interviewee              -7.000000
dtype: float64

In [64]:
#Obtenemos datos limpios
data_clean_iqr = filtrocuantitativas[(y <= Limite_Superior_iqr)&(y >= Limite_Inferior_iqr)]
data_clean_iqr

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`

,_latitude,_longitude,283_fulfill_needs,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,NaN,1.0,1.0,0.0,0.0,0.0,0.0,35.0
1,19.058479,-98.233566,NaN,1.0,1.0,2.0,0.0,35.0,50.0,27.0
2,19.062077,-98.230339,NaN,1.0,0.0,0.0,0.0,40.0,25.0,42.0
3,19.055535,-98.232916,NaN,1.0,2.0,3.0,0.0,0.0,0.0,27.0
4,19.059012,-98.232994,NaN,1.0,2.0,5.0,0.0,0.0,50.0,35.0
...,...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,NaN,1.0,NaN,10.0,0.0,100.0,100.0,15.0
111,19.035280,-98.267856,NaN,1.0,1.0,1.0,0.0,50.0,70.0,21.0
112,19.035451,-98.267862,NaN,1.0,3.0,2.0,0.0,0.0,0.0,18.0
113,19.035486,-98.267831,NaN,1.0,2.0,4.0,0.0,30.0,100.0,18.0
114,19.035399,-98.267924,NaN,1.0,0.0,3.0,0.0,NaN,NaN,18.0

In [65]:
#Unimos ambos dataframes ya que estan limpios
datos_limpios = pd.concat([filtrocuantitativas,filtrocualitativos],axis=1)
datos_limpios

,_latitude,_longitude,283_fulfill_needs,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,19.059841,-98.234980,no,1,1,0,0,0,0,35,...,1,0,0,0,0,35,Male,Cafeteria,Paleteria El Carmen,1 Photo
1,19.058479,-98.233566,yes,1,1,2,0,35,50,27,...,1,2,0,35,50,27,Female,Grocery store (aka. nanostore),Gerardo Saénz,1 Photo
2,19.062077,-98.230339,yes,1,0,0,0,40,25,42,...,0,0,0,40,25,42,Female,Micro-restaurant (aka. fondita),Rozt,1 Photo
3,19.055535,-98.232916,yes,1,2,3,0,0,0,27,...,2,3,0,0,0,27,Female,Cafeteria,Café Colibrí,1 Photo
4,19.059012,-98.232994,yes,1,2,5,0,0,50,35,...,2,5,0,0,50,35,Female,Cafeteria,La fête,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,yes,1,15,10,0,100,100,15,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
111,19.035280,-98.267856,yes,1,1,1,0,50,70,21,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
112,19.035451,-98.267862,yes,1,3,2,0,0,0,18,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
113,19.035486,-98.267831,yes,1,2,4,0,30,100,18,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
114,19.035399,-98.267924,yes,1,0,3,0,150,1000,18,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [66]:
#Convertir dataframe a CSV
datos_limpios.to_csv("Consumer.csv")
#Descargar archivo filtrado en csv
from google.colab import files


files.download("Consumer.csv")